.electronc_shopping-box{
  width: 100%;
  padding: 0px;
  margin-top: -20px;
  .shopping_banner img {
    height: 380px;
    width: 100%;
  }
  .wenzi{
    height: 145px;
    background-color: #F9F9F9;
    margin: -20px auto 44px;
    padding-top: 32px;
   }
}