      // 这是产品系列代码专区
    .sapce_of_sp{
        .series_productspace{
            text-align: center;
            .title_of_bedproduct{
                background-color: rgb(220,220,200);
                h4{
                    color: darkred;
                    padding:5px;
                }
                h2{
                    padding-top:10px;
                    margin:0px;
                }
            }
            .col-xs-3{
                img{
                    height: 500px;width: 100%;
                }
            }
            .col-xs-6{
                img{
                    height: 150px;width: 100%;
                }
            }
        }
    }
    .have_padding{
        padding:14px 6px 0px;
        position: relative;
        &:hover .have_conver_img{
            display:block;
        }
          .have_conver_img{
                        position: absolute;
                        right: 6px;
                        top:14px;
                        height: 92%;
                        width: 50%;
                        line-height: 4em;
                        text-align: center;
                        display: none;
                        color:white;
                        background: rgba(10,10,10,0.4);
                    }
    }