// 创建使得div消失的类
.disappaer{
    display: none;
}
// 创建公共样式区
#navigation_img{
    .text_title{
        text-align: center;font-family: "微软雅黑";margin-top: 20px;
        .cloose_shop{
            margin-top: 15px;
            .cloose_shop_span{
                display: inline-block;border: 1px solid rgba(180,180,180,0.7);padding: 5px 15px;margin-left:-5px ;background: white;font-size: 14px;cursor: pointer;
            }
            .c_active_span{
                background: green;color: white;border: 1px solid green;
            }
        }
    }
    .navigation_one{
        height: 220px;
        a{
           img{
            height: 218px;width: 99.5%;
           }
        }
    }
}