 // 创建新品精品Div地区
    .new_good_shopspace{
        background: rgb(242,242,242);
        img{
            height: 350px; width: 100%;
        }
        .talk_aboutshop{
            ul{
                width: 80%;margin-top: 80px;margin-left: 12em;
                li{
                        .flower_ofimg{
                            height: 45px;width: auto;margin-bottom: 10px;
                         }
                    p{
                        margin-left: 45px;margin-bottom: 4px;color: rgb(155,155,155);
                    }
                    h3{
                        display: inline-block;
                    } 
                    .talk_aboutshop_span{
                        display: inline-block;background-color: greenyellow;color: white;
                         padding: 2px 10px;border-radius: 5px;margin-left: 100px;
                    }    
                }
            }
         
        }    
        .price_of_shop{
            margin-left: 20em;margin-top: 25px;
            .have_rightborder{
                border-right: 1px dashed red;
            }
            .money_of_shopspan{
                display: inline-block;color: red;
                padding: 5px 10px;text-align: center;
            }
        }
        .reserve_money_img{
            position: relative;margin-left: 20em;
            img{
                width: 180px;height: 30px;
            }
             .grid_shade_price{
                         height: 30px;width: 100%;position: absolute;color: white;line-height: 30px;
                         font-size:1.9em;font-weight: 600; text-align: center;left:-5em;
                        a{
                                 position: absolute;
                                  display:inline-block;
                                  left: 16px;
                                  padding:0px 8px;
                                  font-weight: 400;
                                  background: #7bbb67;
                                  color:white;
                                  border-radius: 5px;
                                  top:5px;
                        }
                       
                      }
        }
    }