.sleep-center-box {

  width: 100%;
  padding: 0px;
  margin-top: -20px;

  .sleep-banner img {
    height: 380px;
    width: 100%;
  }
  .img-show-box {
    padding: 30px 20px;
    background: #F2F1F1;
    border-bottom: 1px solid #c4c4c4;
    .show-img {
      width: 100%;
      padding: 5px 10px;
    }
    .show-text-box {
      padding: 10px;
      p {
        padding: 20px;
        font-size: 14px;
        line-height: 30px;
      }
      .feature {
        padding: 20px 30px 20px 20px;
        ul {
          list-style: circle;
          li {
            span {
              font-size: 16px;
              color: #28883B;
              line-height: 40px;
            }
          }
        }
      }
    }

  }
  .craft-show-box {
    background: #F9F9F9;


  }
}