.sleep-center-box {
  width: 100%;
  padding: 0px;
  margin-top: -20px;
  .sleep-banner img {
    height: 380px;
    width: 100%;
  }
 .tab-box{
     width: 340px;
     margin: 0 auto;
 }
 .show_box{
     margin-top: 12px;
     .show1{
         padding-top: 20px;
    
         .show_img{
             margin-left: 55px;
             padding-left: 40px;
         }
         .show_text{
             padding-left: 57px;
             padding-top: 30px;
             margin-left: -57px;
         }
    } 
 }
}